.library-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  color: #101010;
}

.library-box-stroke {
  border-block: 1.5px solid #e3dcd2 !important;
}

.library-name-title {
  font-family: "Paperlogy-7Bold";
  font-size: 1.75rem;
  color: #101010;
  margin-top: 30px;
}

.library-title-description {
  font-family: "Paperlogy-3Light";
  color: #4b4b4b;
  margin-bottom: 4rem;
}

.library-book-list {
  margin-block: 1rem;
}

.library-book-list p {
  margin: 0;
}

.library-title {
  font-family: "Paperlogy-6SemiBold";
  font-size: 20px;
}
