/* ====== 공통 ====== */
.rental-home-list-row .col{
  padding-bottom: 0;
}

.rental-list {
  font-family: "Paperlogy-7Bold", serif;
  font-size: 26px;
  color: #4b4b4b;
  margin-top: 30px;
  margin-bottom: 35px;
}

.rental-home-title h3 {
  font-family: "Paperlogy-7Bold", serif;
  font-size: 1.5rem;
  margin: 6rem 0 2rem 0;
  cursor: pointer;
  color: #101010;
}

.rental-list span {
  font-family: "Paperlogy-1Thin";
}

/* 홈에서만 쓰는 검색 기능 포함 스타일 (rental.jsx용) */
.rental-search {
  background-color: #e3dcd2 !important;
  border-color: #e3dcd2 !important;
  color: #333 !important;
}

.rental-search:hover,
.rental-search:focus {
  background-color: #d8c8bf !important;
  border-color: #d8c8bf !important;
  color: #222 !important;
}

.rental-search-input {
  width: 100%;
  max-width: 100%;
}

.distance-text {
  text-align: center;
}

.rental-title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rental-distance-button {
  font-family: "Paperlogy-6SemiBold";
  background-color: #f6a89e;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  margin-right: 12px;
  border-radius: 0.375rem;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.rental-distance-button:hover {
  background-color: #d8f69e;
  color: #4b4b4b;
}

/* more 링크 */
.more-link {
  font-size: 17px;
  text-decoration: underline;
  color: #333;
  cursor: pointer;
}

.rental-auth {
  display: block;
}

/* 반응형 */
@media (max-width: 768px) {
  .rental-search-input {
    max-width: 20ch;
  }

  .rental-home-list-row .col{
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 576px) {
  .rental-search-input {
    max-width: 20ch;
    margin-left: 0.5rem;
  }

  .justify-content-center {
    justify-content: center !important;
  }

  .book-cover-img {
    max-height: 200px;
    height: auto;
    object-fit: cover;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
  }

  .book-cover-img + h6,
  .book-cover-img + h6 + p {
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
  }
}
