.book-card-title {
  display: block;
  width: 18ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.book-card-title {
  color: #101010;
  display: block;
  flex-wrap: wrap;
  white-space: wrap;
  width: 7rem;
  text-align: center;
  font-size: 0.75rem;
  margin: 1rem 0 0 0;
}

.book-cover-img {
  width: fit-content;
  max-height: 200px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(75, 75, 75, 0.3);
  transition: transform 0.5s ease;
}

.card-col {
  cursor: pointer !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
}

.card-col:hover {
  transform: scale(1.05);
}
