.book-list-container {
  padding: 2rem 1rem;
  min-height: 60vh;
  margin-bottom: 200px;
}

.book-list-title-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.book-list-title {
  font-family: "Paperlogy-7Bold", serif;
  font-size: 26px;
  color: #4b4b4b;
  margin: 0;
}

.book-list-sub{
  font-family: "Paperlogy-3Light";
  margin: 5px 0;
}

.book-list-row {
  row-gap: 2rem;
}

.book-search-group {
  display: flex;
  align-items: center;
}

.book-search-input {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
}

.book-search-button {
  background-color: #e3dcd2 !important;
  border-color: #e3dcd2 !important;
  color: #333 !important;
}

.book-search-button:hover,
.book-search-button:focus {
  background-color: #d8c8bf !important;
  border-color: #d8c8bf !important;
  color: #222 !important;
}

.more-link {
  font-size: 0.875rem;
  text-decoration: underline;
  color: #333;
  cursor: pointer;
}

@media (max-width: 768px) {
  .book-search-input {
    max-width: 20ch;
  }
}

@media (max-width: 576px) {
  .book-search-input {
    max-width: 20ch;
    margin-left: 0.5rem;
  }

  .justify-content-center {
    justify-content: center !important;
  }

  .book-cover-img {
    max-height: 200px;
    height: auto;
    object-fit: cover;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
  }

  .book-cover-img + h6,
  .book-cover-img + h6 + p {
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
  }
}
