.footer {
  background-color: #fdfcf9;
  height: 200px;
  border-top: 1px solid #e3dcd2;
  color: #b9b3ab;
}

.footer-top-area {
  font-family: "Paperlogy-4Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e3dcd2;
  font-size: 1rem;
  padding-block: 1.5rem;
  gap: 3rem;
}

.footer-bottom-area {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top-area p {
  margin: 0;
}

.footer-logo-area {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer-logo-img {
  height: 60px;
}

.footer-copyright-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.footer-copyright {
  font-family: "Paperlogy-3Light";
  font-size: 0.75rem;
  padding: 0;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: left;
}

.footer-customer-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footer-customer {
  color: #b9b3ab;
  font-size: 1rem;
  margin: 0;
}

.footer-button {
  font-family: "Paperlogy-3Light";
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15px;
  width: 10rem;
  color: #b9b3ab;
  border: none;
  background-color: rgba(227, 220, 210, 0.3);
}

.footer-button span {
  font-family: "Paperlogy-1Thin";
}

.footer-column {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.footer-logo {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-tagline {
  font-size: 1rem;
  color: #4b4b4b;
}

.footer-social {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.social-icon {
  background-color: #e3dcd2;
  padding: 0.5rem;
  border-radius: 40%;
  transition: background-color 0.3s;
  cursor: default;
}

.social-icon:hover {
  border-radius: 40%;
  background-color: #d8f69e;
}

.footer-links p {
  margin: 0;
  text-align: center;
  font-size: 0.95rem;
}

.footer-contact {
  margin-bottom: 0.3rem;
  font-size: 0.95rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 13px;
  border-top: 1px solid #e3dcd2;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .footer-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    align-items: center;
  }

  .footer-links p {
    text-align: center;
  }

  .footer-info {
    text-align: center;
  }
}
