body {
  margin: 0;
  box-sizing: border-box;
}

.home-meeting-list {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.meeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-inline: 0.75rem;
}

.meeting-title {
  font-family: "Paperlogy-7Bold", serif;
  font-size: 1.75rem;
  color: #101010;
  cursor: pointer;
}

.home-meeting-col {
  padding: 0;
}

.meeting-home-container-back {
  padding: 0;
}

.meeting-title-description {
  font-family: "Paperlogy-3Light", serif;
  font-size: 1rem;
  color: #4b4b4b;
}

.meeting-home-title span {
  font-family: "Paperlogy-1Thin";
}

.meeting-home-title {
  margin: 6rem 0 1rem 0;
  font-family: "Paperlogy-7Bold", serif;
  font-size: 1.5rem;
  color: #101010;
  cursor: pointer;
}

.meeting-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(227, 220, 210, 0.3);
  margin-top: 2rem;
  padding: 2rem 1.5rem 3rem 1.5rem;
  border-radius: 15px;
}

.meeting-row {
  display: flex;
  flex-direction: column;
  border-bottom: 1.5px solid #cbc2b6;
  cursor: pointer;
  min-width: 1000px;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

.meeting-row:hover * {
  color: #f6a89e;
}

.meeting-row-title {
  display: flex;
  align-items: center;
  font-family: "Paperlogy-6SemiBold", serif;
  display: flex;
  gap: 0.25rem;
  font-size: 1.25rem;
}

.meeting-row-list-title {
  font-family: "Paperlogy-5Medium", serif;
  color: #101010;
  font-size: 1.1rem;
  margin: 0;
}

.meeting-row-location {
  color: #101010;
  margin: 0;
}

.meeting-row-user {
  color: #4b4b4b;
  margin: 0;
}

.meeting-row-date {
  margin: 0;
}

.meeting-row-info-area {
  display: flex;
  justify-content: space-between;
}

.meeting-none {
  font-family: "Paperlogy-4Regular", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4b4b4b;
  margin: 0;
}

.add-button-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.add-button-area button {
  font-family: "Paperlogy-4Regular", serif;
  border: 1.5px solid #f6a89e;
  border-radius: 15px;
  background-color: #f6a89e;
  color: white;
}

.add-button-area button:hover {
  border: 1.5px solid #f6a89e;
  color: #f6a89e;
  background-color: white;
  border-radius: 15px;
}

.add-button-area button:active {
  border: 1.5px solid #f6a89e !important;
  color: #f6a89e !important;
  background-color: white !important;
  border-radius: 15px !important;
}

.pagination {
  justify-content: center;
  margin: 2em 0;
}

.page-item,
.previous-page,
.next-page {
  padding: 0 10px;
}

.page-item a {
  border: 1.5px solid #f6a89e;
  border-radius: 15px;
  color: #f6a89e;
}

.previous-page a,
.next-page a {
  border: 1.5px solid #f6a89e;
  border-radius: 15px;
  color: #f6a89e;
}

.page-item a:hover,
.page-item a:active,
.page-item a:focus {
  background-color: #f6a89e;
  border: 1.5px solid #f6a89e;
  color: white;
  font-weight: bold;
}

.page-item.active a {
  background-color: #f6a89e;
  border: 1.5px solid #f6a89e;
  color: white;
  font-weight: bold;
}

.page-item.disabled a {
  color: #f6a89e;
}

@media (max-width: 1200px) {
  .meeting-row {
    min-width: 850px;
    max-width: 850px;
  }
}
@media (max-width: 1000px) {
  .meeting-row {
    min-width: 600px;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .meeting-row {
    min-width: 300px;
    max-width: 300px;
  }

  .meeting-background {
    padding: 2rem 1rem 3rem 1rem;
  }

  .meeting-row-title {
    flex-direction: column;
    font-size: 1rem;
  }

  .meeting-row-title p {
    font-size: 1rem;
  }
}
