body {
  margin: 0;
  box-sizing: border-box;
}

.meeting-detail {
  width: 100%;
  height: 60vh;
  border: 1px solid #e3dcd2;
  border-radius: 4px;
  margin-top: 30px;
  font-family: "Paperlogy-6SemiBold", serif;
}

.meeting-title-detail{
  padding: 20px;
  border-bottom: 1px solid #e3dcd2;
  background-color: #e3dcd2;
}

.meeting-join-status{
  display: flex;
  align-items: center;
  gap: 2em;
}

.meeting-join-status div{
  color: #F27D6C;
  font-weight: bold;
}

.meeting-detail h1 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.meeting-members{
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.meeting-members *{
  font-size: 15px;
}

.meeting-desc {
  padding: 20px;
  font-size: 20px;
}

.join-button-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  margin-bottom: 3rem;
}

.join-button-box button {
  border: none;
  background-color: #f6a89e;
}

.join-button-box button:hover,
.join-button-box button:active,
.join-button-box button:focus {
  background-color: #d8f69e !important;
  color: #4b4b4b !important;
}

@media (max-width: 768px) {

  .meeting-title-detail{
  padding: 15px;
  }
  .meeting-join-status{
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .meeting-detail h1 {
    font-size: 23px;
  }

  .meeting-members *{
  font-size: 14px;
  }

  .meeting-desc {
    font-size: 18px;
  }
}
