body {
  margin: 0;
  box-sizing: border-box;
}

.home-meeting-list {
  padding: 0;
  margin-bottom: 4rem;
}

.meeting-title {
  margin: 6rem 0 2rem 0;
  font-family: "Paperlogy-7Bold", serif;
  font-size: 1.5rem;
  color: #101010;
  cursor: pointer;
}

.meeting-title span {
  font-family: "Paperlogy-1Thin";
}

.meeting-background {
  background-color: rgba(227, 220, 210, 0.3);
  padding: 3rem 6rem 3rem 6rem;
  border-radius: 15px;
  margin-inline: 0.75rem;
}

@media (max-width: 768px) {
  .meeting-background {
    padding: 2rem 1rem 2rem 1rem;
  }

  thead tr {
    font-size: 0.9em;
  }

  tbody tr {
    font-size: 0.75em;
  }
}

.meeting-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-collapse: collapse;
  color: #4b4b4b;
}

thead {
  font-family: "Paperlogy-6SemiBold";
  font-size: 1rem;
  color: #101010;
  width: 100%;
}

tbody {
  font-family: "Paperlogy-4Regular";
  font-size: 1rem;
  color: #4b4b4b;
  width: 100%;
}

thead tr {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1.5px solid #cbc2b6;
  padding-bottom: 0.75rem;
}

tbody tr {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #e3dcd2;
  padding: 0.75rem 0;
  cursor: pointer;
}

thead tr th:first-child {
  text-align: center;
}

tbody tr td:nth-child(2) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

tbody tr td:first-child {
  padding-left: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

tbody tr td:last-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

thead tr th:nth-child(2),
thead tr th:nth-child(3),
thead tr th:last-child,
tbody tr td:nth-child(2),
tbody tr td:nth-child(3),
tbody tr td:last-child {
  width: 30%;
  text-align: center;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 45%;
  text-align: center;
}

.meeting-row:hover td {
  color: #f6a89e;
}

.add-button-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.add-button-area button {
  border: none;
  background-color: #f6a89e;
}

.add-button-area button:hover,
.add-button-area button:active,
.add-button-area button:focus {
  background-color: #d8f69e !important;
  color: #4b4b4b !important;
}

.pagination {
  justify-content: center;
  margin: 2em 0;
}

.page-item,
.previous-page,
.next-page {
  padding: 0 10px;
}

.page-item a {
  border: 1.5px solid #f6a89e;
  border-radius: 15px;
  color: #f6a89e;
}

.previous-page a,
.next-page a {
  border: 1.5px solid #f6a89e;
  border-radius: 15px;
  color: #f6a89e;
}

.page-item a:hover,
.page-item a:active,
.page-item a:focus {
  background-color: #f6a89e;
  border: 1.5px solid #f6a89e;
  color: white;
  font-weight: bold;
}

.page-item.active a {
  background-color: #f6a89e;
  border: 1.5px solid #f6a89e;
  color: white;
  font-weight: bold;
}

.page-item.disabled a {
  color: #f6a89e;
}

@media screen and (min-width: 768px) {
  .page-item {
    padding: 0 15px;
  }
}
