.carousel-container{
  height: 300px;
}

.react-multi-carousel-item{
  width: 80%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px){
  .carousel-container{
    height: 350px;
  }
}

@media screen and (max-width: 540px){
  .carousel-container{
    height: 330px;
  }
  } 

